body { background: #e0dde1; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-uploader-0 { color: #266e30; font-size: 14px; margin-bottom: 5px; }
.block-product-1 { color: #718b2b; font-size: 20px; margin-bottom: 5px; }
.block-metrics-2 { color: #157144; font-size: 13px; margin-bottom: 5px; }
.block-router-3 { color: #58647b; font-size: 19px; margin-bottom: 5px; }
.block-payment-4 { color: #11bd15; font-size: 12px; margin-bottom: 5px; }
.block-user-5 { color: #840aba; font-size: 12px; margin-bottom: 5px; }
.block-session-6 { color: #966b45; font-size: 17px; margin-bottom: 5px; }
.block-cart-7 { color: #1da7b; font-size: 12px; margin-bottom: 5px; }
.block-cluster-8 { color: #822783; font-size: 13px; margin-bottom: 5px; }
.block-session-9 { color: #fc8510; font-size: 13px; margin-bottom: 5px; }
.block-router-10 { color: #5f3125; font-size: 20px; margin-bottom: 5px; }